input {
  margin: 5px;
}
.github-class {
  margin: 20px;
}
.btn-search {
  background-color: mediumturquoise;
  color: black;
}
.app-component {
  background-image: url("src/assets/background.jpeg");
}
